*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
}
.h-full{
    height: 100vh;
}


                                            /* Navbar section starts from here */

.nav-link{
    font-size: 1.2rem;
    width: 100%;
    color: #fff;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover{
    background-color: #ffffff26;
    color: #fff;
}



                            /* margin left of all sections starts from here */


