*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
}
.h-full{
    height: 100vh;
}


                                            /* Navbar section starts from here */


.navbar{
    width: 15%;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    background-color: #7952b3;
    transition: 0.4s;
    z-index: 9999 !important;
}
@media(max-width : 992px) {
    .navbar{
        width: 300px;
    }
    
} 

.nav-link{
    font-size: 1.2rem;
    width: 100%;
    color: #fff;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover{
    background-color: #ffffff26;
    color: #fff;
}



                            /* margin left of all sections starts from here */


@media(min-width : 992px){
    .dashboard, .ledger, .investment, .users, .plans, .profile, .people{
        margin-left: 15%;
    }
    
}
